.label{
	-fx-text-fill: #FFFFFF;
}

.text{
	-fx-text-fill: #FFFFFF;
}

.glyph-icon{
	-fx-fill: #FFFFFF;
}

.HBox{
	-fx-background-color: #182733;
}

.GridPane{
	-fx-background-color: #182733;
}

.BorderPane{
	-fx-background-color: #182733;
}

#calendar-control {
	-fx-padding: 1;  
	-fx-background-insets: 0, 100;
	-fx-background-radius: 0, 0; 
	-fx-background-color: rgba(0, 100, 100, 0.1);
}
