/* @@author Rebekah */
.label {
	-fx-text-fill: #FFFFFF;
}

.text {
	-fx-text-fill: #FFFFFF;
}

.button {
	-fx-background-color: transparent;
}
.button:focused {
    -fx-background-color: rgba(0, 100, 100, 0.5);
}

.glyph-icon {
	-fx-fill: #FFFFFF;
}

.hbox {
	-fx-background-color: #182733;
}

.grid {
	-fx-background-color: #182733;
}

.border-pane {
	-fx-background-color: #182733;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.table-view{
   -fx-background-color: #182733;
}

.table-view .column-header-background{
    -fx-background-color: rgba(0, 100, 100, 0.5);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-cell:filled:selected:focused, .table-cell:filled:selected {
    -fx-background-color: #182733;
    -fx-text-fill: white;
}

.table-cell:odd { 
    -fx-background-color: #182733;
    -fx-text-fill: white;
}

.table-cell:even { 
    -fx-background-color: #182733;
    -fx-text-fill: white;
}

.table-cell:filled:hover {
    -fx-background-color: #182733;
    -fx-text-fill: white;
}

#calendar-control {
	-fx-padding: 1;  
	-fx-background-insets: 0, 100;
	-fx-background-radius: 0, 0; 
	-fx-background-color: rgba(0, 100, 100, 0.1);
}