.label{
	-fx-text-fill: #FFFFFF;
}

.text{
	-fx-text-fill: #FFFFFF;
}

.glyph-icon{
	-fx-fill: #FFFFFF;
}

.HBox{
	-fx-background-color: #182733;
}

.GridPane{
	-fx-background-color: #182733;
}

.BorderPane{
	-fx-background-color: #182733;
}
